<form name="adduser" action="/adduser" method="post">
	<input type="email" name="email" placeholder="email" style="width:300px"><br/>
	<input type="text" name="first_name" placeholder="First Name" style="width:300px"><br/>
	<input type="text" name="last_name" placeholder="Last Name" style="width:300px"><br/>
	<button type="submit">Submit</button>
	
</form>
 