<form name="edituser" action="/edituser" method="post">
	<input type="email" name="email" placeholder="email" style="width:300px" value={{email}}><br/>
	<input type="text" name="first_name" placeholder="First Name" style="width:300px" value={{first_name}}><br/>
	<input type="text" name="last_name" placeholder="Last Name" style="width:300px" value={{last_name}}><br/>
	<input type="hidden" name="id" placeholder="" style="width:300px" value={{id}}><br/>
	<button type="submit">Submit</button>
</form>
 