<!DOCTYPE html>
<html lang="en">

<head> 
    <meta name="author" content="templateninja">
    <title>NodeJS - Cassandra</title>
</head>

<body>
	{{message}}
	{{error.status}}
	#{error.stack}
</body>

</html>
