
	<h3>{{title}}</h3> 
	<li>ID: {{id}}</li>
	<li>Email: {{email}}</li>
	<li>First Name: {{first_name}}</li>
	<li>Last Name: {{last_name}}</li>

	<br/>
	<a href="/edituser/{{id}}">Edit </a>&nbsp;|&nbsp;<a href="/deleteuser/{{id}}"> Delete</a>